<div class="col mb-3">

    <div class="col-md-12 mb-3">
        <img src="assets/product.png" class="rounded-circle " width="200px"  height="200px">

    </div>
    <hr>

    <div class="col-md-12">
        <div class="col-md-12mb-3">

            <h2>Information de larticle</h2>
        </div>
        <div class="col-md-12">
            <form>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Code Article">
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" placeholder="Prix unitaire HT">
                    </div>
                <div class="col">
                        <input type="text" class="form-control" placeholder="Prix unitaire TTC">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Designation">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Taux TVA ">
                    </div>

                    <div class="col">
                       <select class="form-control" id="Ibti">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>

                       </select>
                    </div>
                </div>
            </form>

        </div>


        <div class="col-md-12 text-right">
            <button class="btn btn-danger m-3">Annuler</button>
            <button class="btn btn-primary m-3">Enregistrer</button>
    
        </div>

    </div>


</div>