<div class="row mb-1 custom-border">

    <div class="col-md-2">
      <div class="border-right col-md-2">
        <!-- Display the image dynamically -->
        <img [src]="imageUrl" width="100px" *ngIf="imageUrl; else defaultImage">
        <!-- Fallback image if no image URL is provided -->
        <ng-template #defaultImage>
          <img src="assets/product.png" width="100px">
        </ng-template>
      </div>
    </div>
  
    <!-- Details of the article -->
    <div class="col-md-3">
      <div class="border-right">
        <div class="row">
          <div class="col-md-1">
            <i class="fax fa-info-circle"></i>
          </div>
          <div class="col-md-11">{{data.codeArticle}}</div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <i class="fax fa-info-circle"></i>
          </div>
          <div class="col-md-11">{{data.designation}}</div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <i class="fax fa-info-circle"></i>
          </div>
          <div class="col-md-11">{{data.idArticle}}</div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <i class="fax fa-info-circle"></i>
          </div>
          <div class="col-md-11">{{data.prixTTC}}</div>
        </div>
      </div>
    </div>
  
    <!-- Details of the category -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-2">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">{{data.categorie.codeCategorie}}</div>
            <div class="col-md-12">{{data.categorie.descriptionCategorie}}</div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Actions -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-link" (click)="modifierArticle()">Modifier</button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link">Supprimer</button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link">Details</button>
        </div>
      </div>
    </div>
  
  </div>
  